// Variables
$primary-color: #1472ca;
$secondary-color: #6c757d;
$background-color: #14b817;

// Estilos Generales
body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
}



// Formulario
form {
    .form-label {
        font-weight: bold;
    }

    .form-control {
        border-radius: 0.25rem;
        border: 1px solid $secondary-color;
        &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
        }
    }

    .btn-primary {
        background-color: $primary-color;
        border: none;
        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

// Imagen
.img-fluid {
    max-width: 100%;
    height: auto;
}

// Mapa e Información
.mb-4 {
    margin-bottom: 1.5rem;
}

$primary-color: #007bff;
$secondary-color: #f8f9fa;
$faq-hover: #e9ecef;

#faq {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;

  h2 {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .faq-item {
    background-color: $secondary-color;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $faq-hover;
    }

    .faq-question {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .faq-answer {
      font-size: 1rem;
      padding-top: 0.5rem;
    }
  }
}


// Responsividad
@media (max-width: 768px) {
    .col-md-6 {
        margin-bottom: 1rem;
    }
}
