// Definir colores y tamaños
$primary-color: #202737; // Color de fondo del header
$secondary-color: #ffffff; // Color de los enlaces
$hover-color: #004494; // Color de fondo del toggler en hover
$logo-max-height: 80px; // Tamaño máximo del logo

// Mixins
@mixin responsive($breakpoint: 768px) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// Estilos del Header
.bg-header {
  background-color: $primary-color;
  padding: 0 20px; // Padding horizontal del header
  height: 70px; // Altura del header
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive() {
    height: auto; // Ajuste en pantallas móviles
    padding: 0 10px; // Padding reducido en pantallas móviles
    flex-direction: column; // Cambiar la dirección del flex en pantallas móviles
  }

  // Logo
  #logo {
    display: flex;
    align-items: center;
    height: 100%; // Tomar la altura completa del header

    .img-logo {
      max-height: $logo-max-height;
      height: auto;
      width: auto;
    }
  }

  // Navbar
  .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0;

    @include responsive() {
      flex-direction: column;
      align-items: center;
    }

    // Navbar links
    .navbar-nav {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;

      .nav-item {
        margin: 0 1rem; // Espacio entre los elementos

        .nav-link {
          color: $secondary-color;
          text-decoration: none; // Eliminar subrayado de los enlaces
          font-size: 1rem; // Tamaño de fuente

          &:hover {
            color: $hover-color;
          }
        }
      }

      @include responsive() {
        flex-direction: column;
        align-items: center;

        .nav-item {
          margin-bottom: 0.5rem; // Espacio entre los enlaces en pantallas móviles
        }
      }
    }
  }

  // Navbar toggler
  .navbar-toggler {
    background-color: $secondary-color;

    &:focus,
    &:hover {
      background-color: $hover-color;
    }
  }
}
