// Definir colores y tamaños
$primary-color: #202737; 
$secondary-color: #ffffff; 
$hover-color: #004494; 
$logo-max-height: 80px; 

// Mixins
@mixin responsive($breakpoint: 768px) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// Estilos del Header
.bg-header {
  background-color: $primary-color;
  padding: 0 20px; 
  height: 70px; 
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive() {
    height: auto; 
    padding: 0 10px; 
    flex-direction: column; 
  }

  // Logo
  #logo {
    display: flex;
    align-items: center;
    height: 100%; 

    .img-logo {
      max-height: $logo-max-height;
      height: auto;
      width: auto;
    }
  }

  // Navbar
  .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0;

    @include responsive() {
      flex-direction: column;
      align-items: center;
    }

    // Navbar links
    .navbar-nav {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;

      .nav-item {
        margin: 0 1rem; 

        .nav-link {
          color: $secondary-color;
          text-decoration: none; 
          font-size: 1rem; 

          &:hover {
            color: $hover-color;
          }
        }
      }

      @include responsive() {
        flex-direction: column;
        align-items: center;

        .nav-item {
          margin-bottom: 0.5rem; 
        }
      }
    }
  }

  // Navbar toggler
  .navbar-toggler {
    background-color: $secondary-color;

    &:focus,
    &:hover {
      background-color: $hover-color;
    }
  }
}
